/* Popover styling */
.popover__title {
    text-decoration: none;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    color : #343A40;
}

.popover__wrapper {
    position: relative;
    margin-top: 1.5rem;
}
.popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 35%;
    transform: translate(0, 10px);
    background-color: #007BFF;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
    color : white;
}
.popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #007BFF transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}
.popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
    text-align: center;
    color:#343A40;
}
